body {
    font-family: Ubuntu;
    width: 70%;
    margin: 3% 15%;
}

* {
    border-radius: 5px;
}

.color1 {
    background-color: '';
}

.color2 {
    background-color: '';
}

header {
    justify-content: center;
    align-items: center;
    height: 5rem;
    background-color: #AF83A4;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 3px 0 rgba(0, 0, 0, 0.1);

}
  header h1 {
    font-size: 1.75rem;
    font-weight: 900;
    color: #DDD7C6;
  }
  #rambler {
    margin: .5rem;
    padding: .5rem;
    font-size: .75rem;
    font-weight: 300;
    justify-content: center;
  }

.main-section {
    margin: 3rem 0 !important; 
    padding: 0 !important;
}
table .grey {
    color: #918BBA;
}
table .thick {
    color: #000;
    font-weight: 900;
}
    tr th {
        text-align: left;
        font-weight: 100;
    }
        #procent {
            text-align: center;
        }
        tr td:last-child {
            text-align: center;
        }
        .table thead th:last-child {
            text-align: center;
        }
